
.carouselContainer{
  height : 80vh;
  width : 90%;
  margin : 0 auto; 
}

@media screen and (max-width : 600px) {  
  .carouselContainer{
    height : 60vh;
    width : 90%;
    margin : 0 auto; 
  }
}

