
.carouselContainer{
  height : 450px;
  width : 90%;
  margin : 0 auto; 
}

@media screen and (max-width : 600px) {  
  .carouselContainer{
    height : 60vh;
    width : 90%;
    margin : 0 auto; 
  }
}






/* .photo-slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    position: relative;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .slider-item {
    flex: 0 0 33.33%;
    margin-right: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
    cursor: pointer;
  }
  
  .slider-item img {
    display: block;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: left center;
    backface-visibility: hidden;
    border: 1px solid #fff;
  }
  
  .slider-item.prev img {
    transform: translateX(-25%) scale(0.8);
    z-index: -1;
    opacity: 0.6;
  }
  
  .slider-item.next img {
    transform: translateX(25%) scale(0.8);
    z-index: -1;
    opacity: 0.6;
  }
  
  .slider-item.active img {
    transform: scale(1);
    z-index: 1;
    border: 2px solid #fff;
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navigation button {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
  
  .navigation button:hover {
    opacity: 0.8;
  }
  
  .navigation .prev {
    margin-right: auto;
  }
  
  .navigation .next {
    margin-left: auto;
  }
  
  disable pointer events during transition
  .disable-pointer-events {
    pointer-events: none;
  }

  .sliderImg{
    width: 200px !important;
  }
   */


